#circuloface{
    color: #3b5998;
}
#circulotwiter{
    color: #00acee;
}
#circulogoogle{
    color: #db4a39;
}
#circulolink{
    color: #0e76a8 ;
}
.sinborde{
    border: 0;
}






